/* Common styles for both Hero and Download sections */
.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-text {
  margin-bottom: 1rem;
}

.section-image img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #FFB850; /* Yellow */
  border: none;
  border-radius: 5px;
  color: #ffffff; /* White */
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #35D8F4; /* Light Blue */
}

/* Hero section */
.hero-section {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  padding: 20px;
  background-color: #0B2341; /* Dark Blue */
  color: #FDFCFC; /* White */
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.left-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.left-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.left-content .button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #35D8F4;
  color: #0B2341;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left-content .button:hover {
  background-color: #ffb700;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.right-content img:hover {
  transform: scale(1.05);
}

.welcome {
  font-size: larger;
}

/* Songs section */
.songs-section {
  padding: 20px;
  text-align: center;
  background-color: #FDFCFC; /* White */
  color: #0B2341; /* Dark Blue */
}

.songs-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.songs-section p {
  font-size: 1.2rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    height: auto; /* Remove fixed height */
  }

  .left-content,
  .right-content {
    flex: none;
  }

  .right-content {
    order: -1; /* Move the right content above the left content */
  }
}
